@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --bg-color: #616A6F;
  --primary-color: #3FA1E3;
  --primary-hover-color: #3194D7;
  --border-color: #EFF0F0;
  --login-border-color: transparent;
  --N10-color: #F5F7F9;
  --N20-color: #DADFE2;
  --N40-color: #828D95;
  --N60-color: #3C474E;
  --danger-color: #F95656;
  --danger-color-light: #FEE6E6;
  --warning-color: #FDE052;
  --warning-color-light: #FEF7D3;
  --success-color: #63DB97;
  --success-color-light: #E8FAF0;
  --white-color: #fff;
  --radius: 4px;
  --login-width: 320px;
  --font: 'Inter', 'Hevletica Neue', Helvetica, Arial, sans-serif;

  --pf-global--FontFamily--sans-serif: var(--font);
  --pf-global--BorderWidth--sm: 1px;
  --pf-global--danger-color--100: var(--danger-color);
  --pf-global--danger-color--200: var(--danger-color);
}


body, p, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font);
  color: var(--N60-color);
}
p, h1, h2, h3, h4, h5, h6 {
  color: var(--N60-color);
}
.pf-c-button {
  --pf-c-button--m-primary--BackgroundColor: var(--primary-color);
  --pf-c-button--m-primary--Color: #fff;
  --pf-c-button--m-primary--hover--BackgroundColor: var(--primary-hover-color);
  --pf-c-button--m-primary--hover--Color: #fff;
  transition: .2s;
}
.pf-m-primary:hover {
  background-color: var(--primary-hover-color);
}
.pf-c-button-fat {
  height: 42px;
}
.pf-c-button::after {
  display: none;
}

.pf-c-form-control {
  --pf-c-form-control--PaddingTop: 8px;
  --pf-c-form-control--PaddingBottom: 8px;
  --pf-c-form-control--PaddingRight: 16px;
  --pf-c-form-control--PaddingLeft: 16px;
  border-radius: var(--radius);
  border: 1px solid var(--N20-color);
  transition: border-color .2s;
}
.pf-c-form-control:hover,
.pf-c-form-control:focus {
  border-color: var(--N40-color);
  box-shadow: none;
  border-width: var(--pf-global--BorderWidth--sm);
  padding: var(--pf-c-form-control--PaddingTop) var(--pf-c-form-control--PaddingRight) var(--pf-c-form-control--PaddingBottom) var(--pf-c-form-control--PaddingLeft);
}
.pf-c-form-control[aria-invalid="true"] {
  background-position-y: 11px;
}
.pf-c-form-control[aria-invalid="true"]:focus-visible {
  outline-color: var(--pf-global--danger-color--100);
}

.pf-c-form__label-text {
  margin-bottom: 2px;
  color: var(--N40-color);
}

.pf-c-alert__title {
  padding-top: 9px;
  padding-bottom: 7px;
  padding-right: 12px;
  font-size: 13px;
  line-height: 1.3em;
}

.login-pf body {
  background-image: none;
  background-color: var(--bg-color);
}
.login-pf-page {
  height: 100vh;
  padding: 30px;
}
.login-pf-page .card-pf {
  box-shadow: none;
  border-radius: var(--radius);
  border: 0;
  max-width: var(--login-width);
  padding: 0;
  box-shadow: 0 0 0 1px var(--login-border-color);
}
.login-pf-page .login-pf-header {
  margin: 0;
  padding: 20px 24px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.kc-logo-text {
  width: 200px;
  height: 64px;
  background-position: center;
  background-size: contain;
}
#kc-content-wrapper {
  margin-top: 0;
}
h1#kc-page-title {
  font-size: 20px;
}
.pf-c-button {
  border-radius: var(--radius);
}
.kc-form-body {
  padding: 0 30px;
}
.kc-form-body-register {
  padding-top: 32px;
  padding-bottom: 24px;
}
.kc-form-foot {
  margin-bottom: 0;
}
.kc-form-foot .pf-c-button.pf-m-primary {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 24px 20px;
}
.kc-form-wrapper-login + #kc-info,
#kc-reset-password-form + #kc-info {
  display: none;
}
#kc-otp-login-form .kc-form-foot > .form-group,
#kc-passwd-update-form .kc-form-foot > .form-group {
  margin-bottom: 0;
}
.kc-info {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 16px;
  color: var(--N40-color);
}
.kc-form-options-pass {
  padding-top: 16px;
}

.kc-error {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
.kc-error h4 {
  font-size: 18px;
  margin-bottom: 8px;
}
.kc-error p {
  font-size: 14px;
  margin: 0;
}
.kc-picto {
  margin-bottom: 16px;
}
.kc-picto svg {
  width: 64px;
  height: auto;
}
.kc-or-msg {
  font-size: 14px;
  margin: 20px 0;
}


/* OTP Setup */
ol#kc-totp-settings  {
  margin-top: 20px;
}
ol#kc-totp-settings > li {
  line-height: 1.3em;
}
ol#kc-totp-settings > li + li {
  margin-top: 16px;
}

#kc-passwd-update-form,
#kc-update-profile-form {
  padding-top: 16px;
}


/* Login/Registration Tabs */
.kc-tabs {
  display: flex;
}
.kc-tab {
  flex: 1;
  padding: 8px 16px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--N10-color);
  color: var(--N40-color);
  cursor: pointer;
  transition: .2s;
}
.kc-tab:hover {
  color: var(--main-color);
  text-decoration: none;
  background-color: var(--N20-color);
}
.kc-tab:focus {
  text-decoration: none;
  outline: none;
}
.kc-tab-active, .kc-tab-active:hover {
  cursor: default;
  background-color: var(--white-color);
  color: var(--primary-color);
  box-shadow: inset 0 2px 0 var(--primary-color);
}

/* Social Providers */
.kc-social-grid {
  --pf-l-grid__item--GridColumnEnd: span 0;
  grid-template-columns: 1fr;
  grid-gap: 4px;
}
.kc-social-item {
  background-color: var(--primary-color);
  border: 0 !important;
  border-radius: var(--radius);
  margin-bottom: 0;
  box-shadow: none;
}
.kc-social-item::after {
  display: none;
}
.kc-social-item:hover {
  color: var(--white-color);
}
.kc-social-provider-logo {
  color: var(--white-color);
}
.kc-social-provider-name {
  color: var(--white-color);
}
#social-google {
  background-color: #4285F5;
}
#social-google:hover {
  background-color: #3171df;
}
#social-facebook {
  background-color: #4267B2;
}
#social-facebook:hover {
  background-color: #335394;
}
#social-linkedin {
  background-color: #0078B6;
}
#social-linkedin:hover {
  background-color: #026698;
}
#social-microsoft {
  background-color: #00A4EF;
}
#social-microsoft:hover {
  background-color: #058ece;
}
#social-openshift-v3,
#social-openshift-v4 {
  background-color: #D20000;
}
#social-openshift-v3:hover,
#social-openshift-v4:hover {
  background-color: #a90404;
}
#social-gitlab {
  background-color: #E2432A;
}
#social-gitlab:hover {
  background-color: #ba341f;
}
#social-paypal {
  background-color: #169BD7;
}
#social-paypal:hover {
  background-color: #0e84ba;
}
#social-stackoverflow {
  background-color: #F48024;
}
#social-stackoverflow:hover {
  background-color: #d36b15;
}
#social-github {
  background-color: #333333;
}
#social-github:hover {
  background-color: #222222;
}
#social-bitbucket {
  background-color: #2684FF;
}
#social-bitbucket:hover {
  background-color: #2378e8;
}
#social-twitter {
  background-color: #55ACEE;
}
#social-twitter:hover {
  background-color: #4391cd;
}


/* Alert */
.pf-c-alert.pf-m-inline {
  padding: 0 0.25rem;
  border-width: 0;
  background-color: var(--danger-color-light);
}
.pf-c-alert.pf-m-inline.pf-m-danger::before {
  display: none;
}

/* Info Message on Reset Password Page */
#kc-info {
  margin: 0;
}
#kc-info-wrapper {
  background-color: transparent;
}

/* Powered by phasetwo */
.kc-powered {
  position: relative;
  top: 32px;
  left: 0;
  width: 100%;
  text-align: center;
}

@media (min-width: 992px) {
  .login-pf-page {
    height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}